/*! HTML5 Boilerplate v9.0.1 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}
body{
  margin: 0;
}
/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

.split-container{
  display: flex;
  flex-wrap: wrap;
  min-height: 80vh;
}
.split-container__col{
  width: 100%;
}
@media (min-width: 768px) {
  .split-container__col{
    width: 50%;
  }
}
.split-container *{
  max-width: 100%;
}

.split-container__col{
  display: flex;
  flex: 1;
  position: relative;
}

.split-container__overlay{
  background-color: #198acb;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  opacity: 0.5;
  z-index: 1;
}

.logo{
  width: 150px;
  margin: 0 auto;
}

.split-container__col--river{
  background-image: url(../img/annual-report.webp);
  padding-left: 64px;
}

.split-container__col--right-edge{
  display: flex;
  margin-right: -12vh;
  z-index: 50;
}
.split-container__col--right-edge .split-container__edge{
  background-image: url(../img/right-edge.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
  width: 20vh;
}

.split-container__content{
  z-index: 50;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex:1;
}

.split-container__content--right-edge{
  background-color: #198acb;
  flex:1;
}

.title{
  font-family: "Inter", sans-serif;
  color: #fff;
  font-size: 5rem;
  font-weight: 300;
  max-width: 8em;
  line-height: 1;
  margin: 2rem auto;
  opacity: 0;
  animation: fadeInSlideUp 0.8s ease-out forwards;
  animation-delay: 0.5s;
}

.title--right{
  font-size: 8rem;
  text-align: right;
  max-width: 5em;
  font-weight: bold;
  animation-delay: 0.8s;
  color: #074370;
}

@keyframes fadeInSlideUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.container{
  width: 100%;
}

.container__inner{
  background-color: #0e5485;
  color: white;
}

.container__content{
  max-width: 100%;
  padding: 28px;
  width: 1040px;
}

.article-time{
  background: #052e49;
  color: white;
  text-align: center;
}

.article-time__content{
  font-size: 1.2rem;
  font-weight: lighter;
}

.content{
  max-width: 100%;
  width: 1040px;
  margin: 0 auto;
  padding: 8px;
}

.section{
  max-width: 1600px;
  margin: 0 auto;
}

.section__content{
  max-width: 100%;
  width: 1240px;
  margin: 0 auto;
  padding: 8px;
}

.section--bottom-edge{
  color: white;
  padding-bottom: calc(min(20vw, 250px));
  background-image: url(../img/bottom-edge.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  z-index: 5;
  position: relative;
}

.section__inner--bottom-edge{
  background: #0e5485;
}

.grid-2{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  place-items: center;
}

.graph-box{
  border: 2px dashed white;
  border-radius: 12px;
  padding: 3rem;
  background-color: #074370;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px;
}

.in-text-image{
  width: 100%;
  max-width: 650px;
  border-radius: 52px;
}

.section__inner--following-bottom{
  background: #178acb;
  color: white;
  padding-top: calc(min(20vw, 250px));
  margin-top: calc(min(20vw, 250px) * -1);
  padding-bottom: 3rem;
}

.faq summary{
  font-size: 1.8rem;
  font-weight: bold;
}
